form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

form label {
    margin: 10px;
}

p {
    text-align: center;
}

form[action="Index.html"] {
    margin-bottom: 20px;
}

form input[type="submit"]{
    margin-top: 10px;

}

